[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
motor = "*"
pymongo = "*"
dnspython = "*"
aiohttp = "*"
aiofiles = "*"
filestack-python = "*"
fpdf = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"

['scripts']
clean-env = "pipenv clean"
bot = "python bot.py"
