[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
motor = "*"
pymongo = "*"
dnspython = "*"
aiohttp = "*"
fpdf = "*"
filestack-python = "*"
pydantic = "*"
sentry-sdk = "*"
pillow = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

['scripts']
clean-env = "pipenv clean"
bot = "python bot/bot.py"
tests = "pipenv run pytest --cov=./ -v"
test-report = "pipenv run pytest --cov=./ --cov-report=xml -v"
